h1{
    color: blueviolet;
}
p, li {
    color: green;
}
li.special,
span.special {
  color: yellow;
  font-weight: bold;
}
li em {
    color: rgb(205, 159, 252);
  }
h1 + p {
    font-size: 150%;
  }
  a:link {
    color: pink;
  }
  
  a:visited {
    color: green;
  }
  a:hover {
    text-decoration: none;
  }
  a {
      font-weight: bold;
  }
.special {
  color: yellow;
  background-color: black;
  padding: 5px;
}